Load data and libraries.

In [1]:
import os
os.environ["GOOGLE_APPLICATION_CREDENTIALS"]="/Users/anastasiyashabunevich/Desktop/Kaggle/ashabunevich_key.json"

In [2]:
from google.cloud import bigquery


#create a 'Client' object
client = bigquery.Client()

#construct a reference to the 'chicago_crime' dataset
dataset_ref = client.dataset('chicago_crime', project='bigquery-public-data')

#API request - fetch the dataset
dataset = client.get_dataset(dataset_ref)

### 1) Count tables in the dataset

How many tables are in the Chicago Crime dataset?
- 1

In [3]:
#list all tables in the 'chicago_crime' dataset
tables = list(client.list_tables(dataset))

#print number of tables
print(len(tables))

1

### 2) Explore the table schema

How many columns in the `crime` table have `TIMESTAMP` data?
- 2

In [4]:
#construct reference to 'crime' table
table_ref = dataset_ref.table('crime')

#API request - fetch the table
table = client.get_table(table_ref)

#print info of all columns in 'crime' table
print(table.schema)

[SchemaField('unique_key', 'INTEGER', 'REQUIRED', 'Unique identifier for the record.', (), None), SchemaField('case_number', 'STRING', 'NULLABLE', 'The Chicago Police Department RD Number (Records Division Number), which is unique to the incident.', (), None), SchemaField('date', 'TIMESTAMP', 'NULLABLE', 'Date when the incident occurred. this is sometimes a best estimate.', (), None), SchemaField('block', 'STRING', 'NULLABLE', 'The partially redacted address where the incident occurred, placing it on the same block as the actual address.', (), None), SchemaField('iucr', 'STRING', 'NULLABLE', 'The Illinois Unifrom Crime Reporting code. This is directly linked to the Primary Type and Description. See the list of IUCR codes at https://data.cityofchicago.org/d/c7ck-438e.', (), None), SchemaField('primary_type', 'STRING', 'NULLABLE', 'The primary description of the IUCR code.', (), None), SchemaField('description', 'STRING', 'NULLABLE', 'The secondary description of the IUCR code, a subcategory of the primary description.', (), None), SchemaField('location_description', 'STRING', 'NULLABLE', 'Description of the location where the incident occurred.', (), None), SchemaField('arrest', 'BOOLEAN', 'NULLABLE', 'Indicates whether an arrest was made.', (), None), SchemaField('domestic', 'BOOLEAN', 'NULLABLE', 'Indicates whether the incident was domestic-related as defined by the Illinois Domestic Violence Act.', (), None), SchemaField('beat', 'INTEGER', 'NULLABLE', 'Indicates the beat where the incident occurred. A beat is the smallest police geographic area â€“ each beat has a dedicated police beat car. Three to five beats make up a police sector, and three sectors make up a police district. The Chicago Police Department has 22 police districts. See the beats at https://data.cityofchicago.org/d/aerh-rz74.', (), None), SchemaField('district', 'INTEGER', 'NULLABLE', 'Indicates the police district where the incident occurred. See the districts at https://data.cityofchicago.org/d/fthy-xz3r.', (), None), SchemaField('ward', 'INTEGER', 'NULLABLE', 'The ward (City Council district) where the incident occurred. See the wards at https://data.cityofchicago.org/d/sp34-6z76.', (), None), SchemaField('community_area', 'INTEGER', 'NULLABLE', 'Indicates the community area where the incident occurred. Chicago has 77 community areas. See the community areas at https://data.cityofchicago.org/d/cauq-8yn6.', (), None), SchemaField('fbi_code', 'STRING', 'NULLABLE', "Indicates the crime classification as outlined in the FBI's National Incident-Based Reporting System (NIBRS). See the Chicago Police Department listing of these classifications at http://gis.chicagopolice.org/clearmap_crime_sums/crime_types.html.", (), None), SchemaField('x_coordinate', 'FLOAT', 'NULLABLE', 'The x coordinate of the location where the incident occurred in State Plane Illinois East NAD 1983 projection. This location is shifted from the actual location for partial redaction but falls on the same block.', (), None), SchemaField('y_coordinate', 'FLOAT', 'NULLABLE', 'The y coordinate of the location where the incident occurred in State Plane Illinois East NAD 1983 projection. This location is shifted from the actual location for partial redaction but falls on the same block.', (), None), SchemaField('year', 'INTEGER', 'NULLABLE', 'Year the incident occurred.', (), None), SchemaField('updated_on', 'TIMESTAMP', 'NULLABLE', 'Date and time the record was last updated.', (), None), SchemaField('latitude', 'FLOAT', 'NULLABLE', 'The latitude of the location where the incident occurred. This location is shifted from the actual location for partial redaction but falls on the same block.', (), None), SchemaField('longitude', 'FLOAT', 'NULLABLE', 'The longitude of the location where the incident occurred. This location is shifted from the actual location for partial redaction but falls on the same block.', (), None), SchemaField('location', 'STRING', 'NULLABLE', 'The location where the incident occurred in a format that allows for creation of maps and other geographic operations on this data portal. This location is shifted from the actual location for partial redaction but falls on the same block.', (), None)]

### 3) Create a crime map

If you wanted to create a map with a dot at the location of each crime, what are the names of the two fields you likely need to pull out of the `crime` table to plot the crimes on a map?
- `fields_for_plotting = ['latitude', 'longitude']`, because those columns relates to `location` column.

In [5]:
#first five lines of the 'crime' table
client.list_rows(table, max_results=5).to_dataframe()

,unique_key,case_number,date,block,iucr,primary_type,description,location_description,arrest,domestic,...,ward,community_area,fbi_code,x_coordinate,y_coordinate,year,updated_on,latitude,longitude,location
0,11655847,JC225438,2017-08-01 00:00:00+00:00,062XX W 64TH PL,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,APARTMENT,False,False,...,23,64,11,NaN,NaN,2017,2019-04-16 16:21:50+00:00,NaN,NaN,None
1,10268344,HY455553,2015-10-09 13:28:00+00:00,081XX S SOUTH CHICAGO AVE,2021,NARCOTICS,POSS: BARBITUATES,"SCHOOL, PUBLIC, BUILDING",True,False,...,8,45,18,1190162.0,1851155.0,2015,2018-02-10 15:50:01+00:00,41.746600,-87.578771,"(41.746600212, -87.578771154)"
2,10290438,HY478446,2015-09-29 09:00:00+00:00,095XX S STONY ISLAND AVE,1153,DECEPTIVE PRACTICE,FINANCIAL IDENTITY THEFT OVER $ 300,BANK,False,False,...,8,50,11,1188503.0,1842146.0,2015,2018-02-10 15:50:01+00:00,41.721918,-87.585137,"(41.721918366, -87.585137009)"
3,10135017,HY323457,2015-07-01 00:01:00+00:00,071XX W 63RD PL,1156,DECEPTIVE PRACTICE,ATTEMPT - FINANCIAL IDENTITY THEFT,RESIDENCE,False,False,...,23,64,11,1130021.0,1861592.0,2015,2018-02-10 15:50:01+00:00,41.776477,-87.798908,"(41.776477369, -87.798908424)"
4,10185652,HY373147,2015-08-07 17:00:00+00:00,012XX E 83RD ST,0880,THEFT,PURSE-SNATCHING,PARK PROPERTY,False,False,...,8,45,06,1185821.0,1850204.0,2015,2018-02-10 15:50:01+00:00,41.744094,-87.594707,"(41.744093932, -87.594707324)"